
<%= link_to new_repo_path do %>
新增資料
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Site Name</th>
            <th scope="col">GitHub</th>
            <th scope="col">Admin</th>
            <th scope="col">Password</th>
            <th scope="col">Description</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @repos.each do |repo| %>
          <tr>
            <td class="col-md-3">
              <a href="<%= repo.site_url %>" target="_blank"><%= repo.site_name %></a>
            </td>
            <td class="col-md-3">
              <a href="<%= repo.github_url %>" target="_blank"><%= repo.github_name %></a>
            </td>  
            <td class="col-md-1"><%= repo.account %></td>
            <td class="col-md-1"><%= repo.password %></td>
            <td class="col-md-3"><%= repo.description %></td>
            <td class="col-md-2">
              <%= link_to "Edit", edit_repo_path(repo.id) %>
              <%= link_to "Delete", repo_path(repo.id), method: :delete %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>