<div class="container">
  <div class="row">
    <div class="col-md-12">
    
    <%= form_for @repo do |f| %>
    
    <div class="form-row"> 
      
      <div class="form-group">
        <%= f.label :site_name, "Site Name" %>
        <%= f.text_field :site_name, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :site_url, "Site Url" %>
        <%= f.text_field :site_url, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :github_url, "Github Url" %>
        <%= f.text_field :github_url, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :account, "Account" %>
        <%= f.text_field :account, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, "Password" %>
        <%= f.text_field :password, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :description, "Description" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :sort, "Sort" %>
        <%= f.text_field :sort, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
      
    <% end %>
    
    </div>
    
    </div>
  </div>
</div>