<br />
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.avatar, class: "img-responsive center-block img-rounded avatar" %>
    </div>
    <div class="col-md-8">
      <div class="form-row">  
        <div class="form-group">
          <h1>Dojo AC</h1>
          <p><%= @user.name %></p>
          <h4><%= @user.intro %></h4>
          <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>


<br>

<div class="panel-group">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        評論過的餐廳
      </h4>
    </div>
    <div class="panel-body">
      <% @commented_restaurants.each do |restaurant| %>      
        <%= link_to restaurant_path(restaurant.id) do %>
        <div class="my-restaurant">     
          <% if restaurant.image? %>
            <div>
              <%= image_tag restaurant.image %>
            </div>
          <% else %>
            <%= image_tag "http://via.placeholder.com/100x80" %>
          <% end %>   
          <p><%= restaurant.name %></p>
          <br />
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>