<% users.each do |user| %>
  <% if user != current_user %>
    <div class="col-md-3 col-sm-4 col-xs-6 text-center user-item">
      <%= link_to user_path(user) do %>
        <!-- 可先利用 Placeholder 如 <img src="http://via.placeholder.com/128x128"> 產生圖片 -->
       <!-- <img src="http://via.placeholder.com/128x128">-->
         
      <% if user.avatar? %>
        <%= image_tag(user.avatar, class: "img-rounded") %>
      <% else %>
      
        <% x =  rand(2) %>
        <% if x == 0 %>
          <%= image_tag "https://i.imgur.com/vdaV4wT.png", class: "img-rounded"  %>
        <% else %>
          <%= image_tag "https://i.imgur.com/UEh3HOm.png", class: "img-rounded"  %>
        <% end %>  
      <% end %>   
        
        
      <h4>
        <% if !user.name %>
          <%=  user.name = user.email.split('@').first %>
        <% else %>
          <%= user.name %>
        <% end %>
      </h4>
      
      <% end %>
      
      
      <% if current_user.following?(user) %>
        <%= link_to '取消追蹤', followship_path(user), method: :delete,class: "btn btn-link" %>
      <% else %>
        <!-- 會用 POST 動作導向 http://localhost:3000/followships?following_id={user.id} -->
        <%= link_to '追蹤', followships_path(following_id: user), method: :post,class: "btn btn-primary" %>
      <% end %>
      
      <!--
      <%#= link_to '加為好友', friendships_path(friend_id: user), method: :post,class: "btn btn-primary" %>
      -->
      
    </div>
  <% end %>
<% end %>
