<div class="container">
  <div class="row">
   <h3>收藏 <%= @restaurant.name %> 的人</h3>
   <br />
   <div class="col-md-9 col-sm-9 col-xs-9">
    <% @favorites.each do |favorite| %> 
      <div class="col-md-3 col-sm-3 col-xs-3 text-center user-item">
          <!-- 可先利用 Placeholder 如 <img src="http://via.placeholder.com/128x128"> 產生圖片 -->
          <!--  <img src="http://via.placeholder.com/128x128"> -->
          <!-- <%= image_tag(favorite.user.avatar, class: "img-rounded") %>-->
        
          <% if favorite.user.avatar? %>
            <%= image_tag(favorite.user.avatar, class: "img-rounded") %>
          <% else %>
            <% if rand(2) == 0 %>
              <%= image_tag "https://i.imgur.com/vdaV4wT.png", class: "img-rounded"  %>
            <% else %>
              <%= image_tag "https://i.imgur.com/UEh3HOm.png", class: "img-rounded"  %>
            <% end %>  
          <% end %> 
            
          
        <h4>
          <% if !favorite.user.name %>
            <%=  favorite.user.name = favorite.user.email.split('@').first %>
          <% else %>
            <%= favorite.user.name %>
          <% end %>
        </h4>
      </div>
    <% end %>
    </div>
  </div>
</div>