<div class="container">

  <h1>餐廳後台</h1>
  
  <!--
  <%= render(:partial => "admin/common/tab") %>
  -->

  <div class="row">

    <div class="col-md-9">

      <div>
        <%= link_to 'New Restaurant', new_admin_restaurant_path, class: "btn btn-primary" %>
      </div>
      
      <br />

      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>餐廳名稱</th>
            <th>人氣</th>
            <th>類別</th>
            <th>功能</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurants.each do |restaurant| %>
          <tr>
            <th scope="row"><%= restaurant.id %></th>
            <td class="col-md-3"><%= restaurant.name %></td>
            
            <td class="col-md-2"><%= restaurant.impressionist_count %></td>
            
            <% if restaurant.category != nil %>
            <td class="col-md-3">[<%= restaurant.category.name %>]</td>
            <% else %>
            <td class="col-md-3">[尚未有分類]</td>
            <% end %>
            
            <td class="col-md-4">
              <%= link_to admin_restaurant_path(restaurant), 'class' => "btn btn-success btn-sm", 'title' => '內容', 'data-toggle' => 'tooltip' do %>
                <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
              <%= link_to edit_admin_restaurant_path(restaurant), class: "btn btn-info btn-sm", 'title' => '編輯', 'data-toggle' => 'tooltip' do %>
                  <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to admin_restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger btn-sm", 'title' => '刪除', 'data-toggle' => 'tooltip' do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @restaurants %>
      </div>

    </div>

  </div>
</div>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script> 