<div class="container">
  <div class="row">
  
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to '首頁', root_path %>
      </li>
      <li role="presentation">
        <%= link_to '最新動態', feeds_restaurants_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to 'TOP10人氣餐廳', ranking_restaurants_path %>
      </li>      
      <li role="presentation">
        <%= link_to '美食達人', users_path %>
      </li>
    </ul>
    
    <br />
   
    <div class="col-md-10 col-md-offset-1">
     
      <div class="page-header">
        <h1>Top 10 人氣餐廳 <small>(收藏數最高)</small></h1>
      </div>
      
      <% @restaurants.each do |restaurant| %>
       
        <div class="ranking-item">
          <div class="col-md-3">
            <%= link_to restaurant_path(restaurant) do %>
             
              <% if restaurant.image? %>
                <%= image_tag restaurant.image, class: "img-responsive center-block" %>
              <% else %>

                <% x =  rand(6) %>
                <% if x == 0 %>
                  <%= image_tag "https://i.imgur.com/eZtNIiR.jpg", class: "img-responsive center-block img-rounded"  %>
                <% elsif x == 1 %>
                  <%= image_tag "https://i.imgur.com/0gE7uAS.jpg", class: "img-responsive center-block img-rounded"  %>
                <% elsif x == 2 %>
                  <%= image_tag "https://i.imgur.com/eNBWOa8.jpg", class: "img-responsive center-block img-rounded"  %>
                <% elsif x == 3 %>
                  <%= image_tag "https://i.imgur.com/WzQrFB2.jpg", class: "img-responsive center-block img-rounded"  %>
                <% elsif x == 4 %>
                  <%= image_tag "https://i.imgur.com/0tjHOrG.jpg", class: "img-responsive center-block img-rounded"  %> 
                <% else%>
                  <%= image_tag "https://i.imgur.com/bJSckSZ.jpg", class: "img-responsive center-block img-rounded"  %>
                <% end %>

              <!--
               image_tag "http://via.placeholder.com/338x180", class: "img-responsive center-block img-rounded" %>
              -->
              <% end %>
              
            <% end %>
          </div>
          <div class="col-md-9">
            <h4>
              <%= restaurant.name %>
              <span class="label label-default">收藏數：<%= restaurant.favorites_count %></span>
            </h4>
            <p><%= truncate(restaurant.description, length: 200) %></p>
            <div>
              <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary" %>
              <%= render partial: 'shared/favorite', locals: { restaurant: restaurant } %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        
      <% end %>
      
    </div>
      
  </div>
</div>




