<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render(partial: "shared/navbar", locals: { look: 'inverse' })%>

    <%= render(partial: "shared/notice")%>

    <%= render(partial: "shared/alert")%>

    <div class="container">


      <div class="row">

        <div class="col-md-3">
          <%= render partial: 'shared/sidebar' %> 
        </div>

        <div class="col-md-9">
          <%= yield %>
        </div>

      </div>              


    </div>


  </body>
</html>